<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="generator" content="Jake Hershberger, Cesar Caceres, Curtis Lyle, Andrew Reyes-Cairo">
	<meta name="author" content="Jake Hershberger, Cesar Caceres, Curtis Lyle, Andrew Reyes-Cairo">
	<meta name="description" content="Quickly and easily find affordable student housing.">
	<meta name="keywords" content="Affordable Student Housing, Student Housing, ">

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="/assets/bootstrap/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/homepage.css">

    <title>Find Student Affordable Housing Today</title> 

    
</head>

<body>
    {{{body}}}
</body>

</html>