<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="/assets/bootstrap/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>StudentCrashPads</title>

    <style>
        .brand_img {
            width: 210px;
        }

        .nav {
            text-transform: uppercase;
        }

        .navbar {
            margin-bottom: 20px !important;
            background: #fff;
        }

        .navbar-brand {
            padding: 5px 5px !important;
        }
    </style>
</head>

<body>
    <nav id="navcheck" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="Student Crash Pad - Find Student Housing" class="brand_img" src="/assets/images/crashpad_logo.svg">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1 ">
                <ul class="nav navbar-nav ">
                    <li class="">
                        <a href="/">Home</a>
                    </li>
                    {{#if user.isLandlord}}
                    <li class="nav navbar-nav">
                        <a href="/landlord">
                            My Properties
                        </a>
                    </li>
                    {{/if}} {{#if user}}
                    <li class="nav navbar-nav">

                        <a href="/api/logout">
                            Logout
                        </a>
                    </li>
                    {{else}}
                    <li class="nav navbar-nav">

                        <a href="/login">
                            Login
                        </a>
                    </li>
                    {{/if}}

                </ul>
                <form class="navbar-form navbar-right pull-right" onsubmit="search()">
                    <div class="form-group">
                        <input id="nav_search" type="tel" class="form-control" placeholder="Search By Zipcode">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {{{body}}}

    <script>
        //route = /search/
        function search() {
            event.preventDefault();
            var searchQuery = document.querySelector('#nav_search').value;
            console.log(searchQuery)

            window.location.href = '/search/' + searchQuery;
        }//search()
    </script>
</body>

</html>