<link rel="stylesheet" href="/assets/css/application.css">
<script src="/assets/js/applic.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="glyphicon glyphicon-dashboard"></span> Application Form</h2>
            <div>
                {{#if pets}}
                    <input id="petsCheckBox" type="checkbox" checked>
                {{else}}
                    <input id="petsCheckBox" type="checkbox">
                {{/if}}
                <label for="petsCheckBox">Check if you have pets.</label>
            </div>
            <div>
                {{#if smokes}}
                    <input id="smokesCheckBox" type="checkbox" checked>
                {{else}}
                    <input id="smokesCheckBox" type="checkbox">
                {{/if}}
                <label for="smokesCheckBox">Check if you smoke.</label>
            </div>
            <br>
            <label for="comment">Comments </label>
            <textarea class="form-control" style="height:100px" maxlength="1000"
                      id="comment">{{mycomments}}</textarea>
        </div>
        <br>
        <input class="btn" type="submit" id="submit-app-button" value="Submit"/>
    </div>
</div>
