<link rel="stylesheet" href="/assets/css/homepage.css">
<script src="/assets/js/applic.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" style="background-color:yellow">
            <h2><span class="glyphicon glyphicon-dashboard"></span> Application Form</h2>
        </div>
        <div class="col-md-12 text-center" style="background-color:yellow">
            <form class="application-form" id="application" name="application" method="post">
                <label for="firstName">Comments  {{mycomments}}</label>
                <textarea name="comment" form="application-form">{{mycomments}}</textarea>

                <label for="petsCheckBox">Do you have pets?</label>
                <input id="petsCheckBox" type="checkbox">
                <label for="smokesCheckBox">Do you smoke?</label>
                <input id="smokesCheckBox" type="checkbox">
                <input class="btn" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>
