<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" style="background-color:yellow">
            <h2><span class="glyphicon glyphicon-dashboard"></span> Application Form</h2>
        </div>
        <div class="col-md-12 text-center" style="background-color:yellow">
            <form class="application-form" id="application" name="application" method="post">
                <label for="firstName">First Name</label>
                <input class="text" id="fName" name="firstName" type="text" required />
                <label for="lastName">Last Name</label>
                <input class="text" id="lName" name="lastName" type="text" required />
                <label for="phone">Phone</label>
                <input class="text" id="phn" name="phone" type="text" />
                <input class="btn" type="submit" value="Submit" />
            </form>
        </div>

    </div>
</div>
