<div id="hero_img">
    <span class="left-triangle">
        <p class="triangle-text">
            {{#if user}}
            <a href="/api/logout">
                Logout
            </a>
            <a class="welcome" style="color:white"> Welcome {{user.firstName}} {{user.lastName}}</a>
            {{else}}
            <a href="/login">
                Login
            </a>
            {{/if}}
        </p>
    </span>
</div>

<div class="hero_content text-center">
    <img id="hero_img2" src="/assets/images/crashpad_logo.svg">

    <div class="hero-form form-group text-center">
        <label class="sr-only" for="exampleInputAmount">Look for apartments in a city</label>
        <form onsubmit="search()">
            <div class="input-group">
                <input name="city" id="hero-input" type="tel" class="form-control" id="exampleInputAmount" placeholder="Search By Zipcode">
                <div id="search" class="hero-input-search input-group-addon" onclick="search()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
            </div>
        </form>

        <div>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true">

            </span>
        </div>
    </div>
    <span class="">
        <p class="" style="font-size: 35px">
            {{#if user.isLandlord}}
            <a href="/landlord">
                Manage Properties
            </a>
            {{/if}}
        </p>
    </span>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Why Student CrashPad?</h1>
            <p class="homepage_content">
                Looking for affordable housing, especially if you are a student at a university or college, can be challenging at best. Sometimes it's downright brutal to find that perfect apartment to live in while you are in school.<br><br>
                <strong>Not Anymore!</strong> Student CrashPad is going to help fix some of the biggest challenges in finding a place to live. Each landlord account is verified before they can even add an apartment. The benefit for you is you won't find as many bogus properties as you would elsewhere. 
                <br><br>
                Another benefit of Student CrashPad is you will only see properties that are for students like you. No longer will you have to share the apartment with that creepy old guy ;)
                <br><br>
                Give it a try, search for an apartment by zip code and may your apartment dreams come true.
            </p>
        </div>
    </div>
</div>

<div class="homepage_listings">
    <h2 class="text-center">Recent Listings</h2>
    <div id="homepage_listings" class="container dflex">

        
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Why Should I Post my property on Student CrashPad?</h1>
            <p class="homepage_content">
                Perhaps the biggest pain in finding potential tenants for your property is the amount of fake and unqualified applicants there are. Before you ever receive an application, the tenant must create an account with us. This means that each new screening application that comes in is from us is a real tenant and not some computer that is auto-sending bogus applications.<br><br>
                Go ahead, Post your property on Student CrashPad today and notice the difference.
            </p>
        </div>
    </div>
</div>
<div class="image_group"></div>

<footer class="container-fluid footer">
    <p>
        © 2018 Student Crash Pad, LLC. All Rights Reserved
    </p>
</footer>

<script>
    //route = /search/
    function search() {
        event.preventDefault();

        var searchQuery = document.querySelector('#hero-input').value;
        console.log(searchQuery)

        window.location.href = '/search/' + searchQuery
    }//search()

    /*
    <div class="col-md-4 recent_listings ">
        <img class="listing_img" src="/assets/images/building_template.jpg" alt="">
        <div class="listing_head_info">
            <h3 class="listing_title">Listing Title</h3>
            <h3 class="rent">$960</h3>
        </div>
        <p class="listing_address">
            2036 E Autumn St,
            <br> Eagle Mountain, Ut 84005
        </p>
    </div>*/

    //$('#homepage_listings').append
    function showListings() {
        var br = '<br>'

        $.ajax({
            url: '/api/homepage_list',
        }).success(function (data) {
            console.log(data)
            var dt = data.rows;
            console.log(dt)
            console.log(dt.length)
            $(dt).each(function (i, val) {
                console.log(val)
                var d = val

                var addLine2;
                if (d.Address.addressLine2 == null) {
                    addLine2 = '';
                } else {
                    addLine2 = d.Address.addressLine2 + br
                }
                $('#homepage_listings').append('<a href="/api/property/' + d.id + '" class="col-sm-4 recent_listings"><img class="listing_img" src="/assets/images/building_template.jpg" alt="' + d.name + '"><div class="listing_head_info"><h3 class="listing_title">' + d.name + '</h3><h3 class="rent">$' + d.price + '</h3></div><p class="listing_address">' + d.Address.addressLine1 + br + addLine2 + d.Address.city + ', ' + d.Address.state + ' ' + d.Address.zip + '</p></a>');
            })
        })
    } //showListings()
    showListings()
</script>