<div id="hero_img">
    <span class="left-triangle">
        <p class="triangle-text">
        {{#if user}}
            <a href="/api/logout">
                Logout
            </a>
            <a class="welcome" style="color:white"> Welcome {{user.firstName}} {{user.lastName}}</a>
        {{else}}
            <a href="/login">
                Login
            </a>
        {{/if}}
        </p>
    </span>
</div>

<div class="hero_content text-center">
    <img id="hero_img2" src="/assets/images/crashpad_logo.svg">

    <div class="hero-form form-group text-center">
        <label class="sr-only" for="exampleInputAmount">Look for apartments in a city</label>
        <form onsubmit="search()">
            <div class="input-group">
                <input id="hero-input" type="text" class="form-control" id="exampleInputAmount" placeholder="Search By City">
                <div id="search" class="hero-input-search input-group-addon" onclick="search()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
            </div>
        </form>

        <div>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true">

            </span>
        </div>
    </div>
    <span class="">
        <p class="" style="font-size: 35px">
        {{#if user.isLandlord}}
            <a href="/landlord">
                Manage Properties
            </a>
        {{/if}}
        </p>
    </span>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Why CrashPad?</h1>
            <p class="homepage_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                <br>
                <br> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
    </div>
</div>

<div class="homepage_listings">
    <h2 class="text-center">Recent Listings</h2>
    <div class="container dflex">

        <div class="col-md-4 recent_listings ">
            <img class="listing_img" src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>
        <div class="col-md-4 recent_listings center_listing">
            <img class="listing_img" src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>
        <div class="col-md-4 recent_listings ">
            <img class="listing_img" src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Why CrashPad?</h1>
            <p class="homepage_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                <br>
                <br> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
    </div>
</div>
<div class="image_group"></div>

<footer class="container-fluid footer">
    <p>
        © 2018 Student Crash Pad, LLC. All Rights Reserved
    </p>
</footer>

<script>
    //route = /search/
    function search() {
        event.preventDefault();

        var searchQuery = document.querySelector('#hero-input').value;
        console.log(searchQuery)

        window.location.href = '/search/' + searchQuery
    }//search()
</script>