{{!-- =============Link to stylesheet/js file============ --}}

<link rel="stylesheet" href="/assets/css/landlord.css">
<script src="/assets/js/landlord.js"></script>

{{!-- ================Begin HTML================= --}}

<div class="container">
    <div class="row">
        <br />
        <br />
        <div class="col-md-12">
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-dashboard"></span> Dashboard Home</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" id="management-dashboard-side-panel">
                           <p id="dash-home">Dashboard Home</p>
                           <p id="manage-props">Manage Properties</p>
                           <p id="manage-apps">Manage Applications</p>
                        </div>
                    </div>
                   <div class="row">
                       <div class="col-md-12" id="dash-body">
                           <div class="dash-body-div" id="home-div">
                               <h2 class="text-center">Welcome to your dashboard, {{name}}!</h2>
                               <br />
                           </div>
                           <div class="dash-body-div" id="manage-props-div">
                               {{#if isProperties}}
                                    <h2>You have properties</h2>
                                {{else}}
                                <div class="alert alert-danger" role="alert">
                                    <p>Uh oh - It looks like you don't have any properties to manage. Click the green button below to get started.</p>
                                </div>
                               {{/if}}
                               <button id="add-prop-button" type="button" class="btn btn-success" data-toggle="modal" href='#modal-id'><span class="glyphicon glyphicon-plus"></span>Add Property</button>
                               
                           </div>
                           <div class="dash-body-div" id="manage-apps-div">
                               <p>apps div</p>
                           </div>
                       </div>

                   </div>
                </div>
            </div>
            
        </div>
    </div>

    
    <div class="modal fade" id="modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Property</h4>
                </div>
                <div class="modal-body">
                    
                    <form action="" method="POST" role="form">
                    
                        <div class="form-group">
                            <label for="">Property Name</label>
                            <input type="text" class="form-control" id="prop-name" placeholder="Input field">

                            <label for="">Price</label>
                            <input type="text" class="form-control" id="prop-price" placeholder="Input field">

                            <label for="">Capacity</label>
                            <input type="text" class="form-control" id="prop-capacity" placeholder="Input field">
                        </div>
                    
                    </form>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    

</div>