<link rel="stylesheet" href="/assets/css/homepage.css">
<script src="/assets/js/props.js"></script>

<h2 class="text-center">Showing Result for: {{name}}</h2>

<div class="container">
    <div class="row">
    </div>
</div>

