<link rel="stylesheet" href="/assets/css/homepage.css">
<script src="/assets/js/props.js"></script>

<h2 class="text-center">Property: {{name}}</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8 text-center">
            <p>Price ${{price}}</p>
        </div>
        <div class="col-md-4 text-center">
            <p>Owner {{landlord}}</p>
        </div>
    </div>
</div>

