<style>
    .listing {
        border: solid 1px #000;
        padding: 5px;
        cursor: pointer;
        background-color: #fff;
        transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s
    }

    .listing:hover {
        background-color: #FFD26615;
        transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s
    }

    .listing>img {
        width: 100%;
        text-align: center;
    }

    .listing_head_info {
        display: inline-flex;
        width: 100%;
    }

    .listing_title {
        width: 75%;
        text-align: left;
        text-transform: uppercase;
    }

    .rent {
        text-align: right;
        width: 25%;
        color: #00B55F;

    }

    .listing_address {
        color: #8a8a8a;
        font-size: 14px;
        text-transform: uppercase;
    }
</style>

<h2 class="text-center">Showing Results for: {{searchquery}}</h2>

<div class="container">
    <div class="row">

        <div class="col-sm-4 listing">
            <img src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>
        <div class="col-sm-4 listing">
            <img src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>
        <div class="col-sm-4 listing">
            <img src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>
        <div class="col-sm-4 listing">
            <img src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>
        <div class="col-sm-4 listing">
            <img src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>
        <div class="col-sm-4 listing">
            <img src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>
        <div class="col-sm-4 listing">
            <img src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>
        <div class="col-sm-4 listing">
            <img src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>

    </div>
</div>