<style>
    .listing {
        border: solid 1px #000;
        padding: 5px;
        cursor: pointer;
        background-color: #fff;
        transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s;
        width: 32%;
        margin: 0.6%;
    }

    @media screen and (max-width: 767px) {
        .listing {
            width: auto;
            margin: auto;
        }
    }

    .listing:hover {
        background-color: #FFD26615;
        transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s
    }

    .listing>img {
        width: 100%;
        text-align: center;
    }

    .listing_head_info {
        display: inline-flex;
        width: 100%;
    }

    .listing_title {
        width: 65%;
        text-align: left;
        text-transform: uppercase;
    }

    .rent {
        text-align: right;
        width: 35%;
        color: #00B55F;

    }

    .listing_address {
        color: #8a8a8a;
        font-size: 14px;
        text-transform: uppercase;
    }
</style>
<input type="hidden" id="city" value="{{searchquery}}">
<h2 class="text-center">Showing Results for: {{searchquery}}</h2>

<div class="container">
    <div id="show_listings" class="row">

    </div>
</div>

<script>
    var d,
        br = '<br>';

    function showListings() {
        //url = /api/properties
        //#show_listings
        /**
            <div class="col-sm-4 listing" onclick=">
            <img src="/assets/images/building_template.jpg" alt="">
            <div class="listing_head_info">
                <h3 class="listing_title">Listing Title</h3>
                <h3 class="rent">$960</h3>
            </div>
            <p class="listing_address">
                2036 E Autumn St,
                <br> Eagle Mountain, Ut 84005
            </p>
        </div>
*/

        var cityIs = $('#city').val
        var urlIs = "/api/property/" + cityIs
        $.ajax({
            url: urlIs,
        }).success(function (data) {
            console.log(data)
            dt = data;

            $(dt).each(function (i, val) {
                console.log(val)
                d = val
                //<div class="col-sm-4 listing" onclick="displayProperty(' + d.id + ')">
                /*$('#show_listings').append('<a href="/api/property/'+d.id+'" class="col-sm-4 listing"><img src="/assets/images/building_template.jpg" alt=""><div class="listing_head_info"><h3 class="listing_title">' + d.name + '</h3><h3 class="rent">' + d.price + '</h3></div><p class="listing_address">' + d.Address.addressLine1 + br + d.Address.addressLine2 + br + d.Address.city + ', ' + d.Address.state + d.Address.zip + '</p></a>');*/
            })
        })
    } //showListings()
    showListings();

    function displayProperty(propId) {
        console.log(propId)
        window.location.href = '../api/property/' + propId;

    }
</script>