<style>
    .listing {
        border: solid 1px #000;
        padding: 5px;
        cursor: pointer;
        background-color: #fff;
        transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s;
        width: 32%;
        margin: 0.6%;
    }

    @media screen and (max-width: 767px) {
        .listing {
            width: auto;
            margin: auto;
        }
    }

    .listing:hover {
        background-color: #FFD26615;
        transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s
    }

    .listing>img {
        width: 100%;
        text-align: center;
    }

    .listing_head_info {
        display: inline-flex;
        width: 100%;
    }

    .listing_title {
        width: 65%;
        text-align: left;
        text-transform: uppercase;
        color: #000!important;
    }

    .rent {
        text-align: right;
        width: 35%;
        color: #00B55F;

    }

    .listing_address {
        color: #8a8a8a;
        font-size: 14px;
        text-transform: uppercase;
    }
</style>
<input type="hidden" id="zip" value="{{searchquery}}">
<h2 id="show_results" class="text-center">Showing Results for: {{searchquery}}</h2>

<div class="container">
    <div id="show_listings" class="row">

    </div>
</div>

<script>
    var d,
        br = '<br>',
        zipCode;

    function showListings() {

        var zipIs = $('#zip').val();
        var urlIs = '/api/property_search/' + zipIs;
        $.ajax({
            url: urlIs,
        }).success(function (data) {
            console.log(data)
            dt = data;
            console.log(dt.length)
            if (dt.length === 0) {
                $('#show_results').html('… … …');
                $('#show_listings').html("<h3>Hmmm...<br>It looks like we don't have any apartments in the Zip Code " + zipIs + '</h3><img src="//media.giphy.com/media/TZBED1pP5m8N2/giphy.gif" />')
            } else {

                $(dt).each(function (i, val) {
                    console.log(val)
                    d = val

                    var addLine2;
                    if (d.addressLine2 == null) {
                        addLine2 = '';
                    } else {
                        addLine2 = d.addressLine2 + br
                    }
                    $('#show_listings').append('<a href="/api/property/' + d.Property.id + '" class="col-sm-4 listing"><img src="/assets/images/building_template.jpg" alt=""><div class="listing_head_info"><h3 class="listing_title">' + d.Property.name + '</h3><h3 class="rent">$' + d.Property.price + '</h3></div><p class="listing_address">' + d.addressLine1 + br + addLine2 + d.city + ', ' + d.state + ' ' + d.zip + '</p></a>');

                    zipCode = d.zip
                })
            }
        })
    } //showListings()
    showListings();

    function displayProperty(propId) {
        console.log(propId)
        window.location.href = '../api/property/' + propId;

    }

    $('document').ready(function () {
        var description = $('.homepage_content');
        var metaDescription = description.text().substring(0, 180)


        document.querySelector('#meta_title').innerHTML = 'Student Housing in {{searchquery}}';
        $('#meta-description').attr('content', 'Find Affordable Student Housing in ZipCode {{searchquery}}. Check out your New Home TODAY!');

    })

</script>